/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

h2 {
    text-transform: uppercase;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.margined-div {
    margin: 50px 300px;
}

@media (min-width: 768px) {
    .form-div {
        width: 500px;
    }
}
